#export JSESSIONID=80
export FLOOD_GRID=qtxApfdgkYta5WJIQISieQ
export HOST=ec2-52-32-97-10.us-west-2.compute.amazonaws.com
export NB_THREADS=60
export PLUGIN=killbill-stripe
export API_KEY=floodio
export API_SECRET='|6a79/Fb9f*ef50'
export FLOOD_API_TOKEN=kQDz2rDvHBWndEyz1-wF
export DEBUG=true
export KB_URL=http://$HOST:8080
export DURATION=3600
export SKIP_GW=true

